*{
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}
body{
  display: block;
  background-color: #F2F2f2;
  font-size: 14px;
  color: #3c3c3c;
  line-height: 20px;
}